@import '../../../../scss/_variables';

.modal-backdrop.show {
  opacity: 0.3;
}

ngb-modal-window.unauth-modal, .modal-dialog, .modal-content, UnauthenticatedPost {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;

  .modal-content {
    border-radius: 10px;
  }
}

ngb-modal-window.unauth-modal {
  @media (max-width: 576px) {
    padding: 50% 5% !important;
  }
  @media (min-width: 576px) {
    padding: 15% 5% !important;
  }
}

UnauthenticatedPost {
  .modal-body, .post-options-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-body {
    height: 100%;
    justify-content: center;
  }

  .post-options-btns {
    .btn {
      border-radius: 5px;
    }

    .fb-signin {
      background-color: black;
      color: white;
      margin-bottom: 5px;
    }

    .post-anonymosuly-btn {
      background-color: white;
      color: $life-asks-blue-1;
    }

    span {
      padding: 10px;
    }
  }
}