<div class="modal-body">
  <p>To have your answers appear immediately, you'll have to sign in.</p>
  <div class="post-options-btns">
    <button class="btn fb-signin" (click)="postUsingFacebook()">SIGN IN WITH FACEBOOK</button>
    <span>- or -</span>
    <button class="btn post-anonymosuly-btn" (click)="postAnonymously()">Post anonymously</button>
  </div>
</div>
