@import '../../../../scss/_variables';

.modal-backdrop.show {
  opacity: 0.3;
}

ngb-modal-window.unauth-modal, .modal-dialog, .modal-content, SubmissionConfirmation {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border: none;

  .modal-content {
    border-radius: 10px;
  }
}

ngb-modal-window.submission-confirmation-modal {
  @media (max-width: 576px) {
    padding: 50% 5% !important;
  }
  @media (min-width: 576px) {
    padding: 15% 5% !important;
  }
}

SubmissionConfirmation {
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  .btn {
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 30px;
  }
}