@import '../../../../scss/_variables';

AdditionalQuestion {
  background: center;

  .options {
    .custom-control-indicator {
      border: 1px solid black;
      background-color: $life-asks-white-1
    }
    .custom-control-description {
      padding-top: 2px;
    }
    .custom-control-input:checked ~ .custom-control-indicator {
      background-color: black;
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-indicator {
      background-image: none;
    }

    .custom-control-input:focus ~ .custom-control-indicator {
      box-shadow: none;
    }
  }

  .additional-answer {
    width: 100%;
    background-color: $life-asks-white-1;
    color: $life-asks-black-1;
    border-color: $life-asks-grey-2;
    border-radius: 3px;
  }
}
