<h6 class="title">Spice it up by answering one additional question</h6>
<div class="options">
  <div class="form-check form-check-inline row">
    <div *ngFor="let option of options" class="col-6">
      <label class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" value="{{option}}" [(ngModel)]="selectedOption" (ngModelChange)="updateSelectedOption($event)">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{option}}</span>
      </label>
    </div>
</div>
<textarea class="additional-answer" placeholder="{{selectedOption}}"[(ngModel)]="additionalText"  (ngModelChange)="updateAdditionalText($event)"></textarea>
