<nav class="navbar navbar-light bg-faded">
  <img class="navbar-logo" src="../../../../assets/img/life-asks-logo-blue.png" alt="Life Asks Home">
  <img class="navbar-logo-text align-self-center" src="../../../../assets/img/life-asks-text-blue.png" alt="Life Asks Home">
  <div><div *ngIf="isLoggedIn"><button class="btn btn-logout" (click)="signOut()">Sign Out</button></div></div>
</nav>
