@import '../../../../scss/_variables';

$logo-size: 30px;

Navbar {
  .navbar {
    background-color: $life-asks-white-1;

    padding: 10px 16px 20px 16px;
    .navbar-logo {
      height: $logo-size;
      width: $logo-size;
    }
    .navbar-logo-text {
      height: 25px;
      width: 130px;
    }
    .navbar-toggler {
      align-self: flex-end;
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
    }
    .btn-logout {
      border-radius: 3px;
      color: $life-asks-light-blue-1;
      background-color: transparent;
      padding-top: 10px;
      padding-bottom: 0px;
    }
  }
}
