@import '../../../../scss/_variables';

FeaturedQuestion {

  .week-question-container {
    padding: 10px 30px;
    background-color: $life-asks-pink-1;


    .week-author {
      color: $life-asks-pink-2;
    }

    .week-count-container {
      display: inline-flex;
      font-weight: bold;
      text-decoration: underline;

      .btn-link {
        color: black;
        padding: 0 15px 10px 0;
      }
    }

    .week-answer {
      width: 100%;
      background-color: $life-asks-pink-1;
      color: $life-asks-black-1;
      border-color: $life-asks-pink-2;
      border-radius: 5px;
      margin-bottom: 20px;

      &::-webkit-input-placeholder {
        color: $life-asks-pink-2;
      }
      &:-moz-placeholder {
        color: $life-asks-pink-2;
      }
      &::-moz-placeholder {
        color: $life-asks-pink-2;
      }
      &:-ms-input-placeholder {
        color: $life-asks-pink-2;
      }
    }

    .week-container-btn {
      display: inline;

      .buttons {
        min-width: 100px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 25px;
        border-radius: 3px;
        font-weight: bolder;
      }
      .week-post-question-button {
        background-color: $life-asks-black-1;
        color: $life-asks-white-1;
      }

      .week-cancel-question-button {
        background-color: $life-asks-pink-1;
        border-color: $life-asks-black-1;
      }
    }

    .additional-answer {
      background-color: $life-asks-pink-1;
      color: $life-asks-black-1;
      border-color: $life-asks-pink-2;
      border-radius: 3px;

      &::-webkit-input-placeholder {
        color: $life-asks-pink-2;
      }
      &:-moz-placeholder {
        color: $life-asks-pink-2;
      }
      &::-moz-placeholder {
        color: $life-asks-pink-2;
      }
      &:-ms-input-placeholder {
        color: $life-asks-pink-2;
      }
    }

    .options {
      .custom-control-indicator {
        border: 1px solid black;
        background-color: $life-asks-pink-1;
      }
    }
  }
  .week-answers-container {
    background-color: $life-asks-pink-3;
    padding: 30px;
    padding-bottom: 10px;

    .week-total-answers {
      font-size: x-large;
    }

    .week-close-answers-section {
      display: flex;
      justify-content: flex-end;
    }

    .week-load-more-answers {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;

      .week-load-more-answers-btn {
        background-color: $life-asks-pink-3;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
    .week-close-answers-section {
      span {
        color: $life-asks-pink-3;
        border-radius: 0.8em;
        padding: 0 6px;
        background-color: $life-asks-black-1;
      }
    }
  }
}
