<div class="week-question-container">
  <h4 class="week-question">{{question.text}}</h4>
  <p class="week-author">Submitted by: {{ question.author || 'Life asks' }}</p>
  <div class="week-count-container">
    <button pageScroll [pageScrollOffset]="325" [pageScrollDuration]="1000" href="#answerScroll{{question.id}}" class="btn btn-link" (click)="showAnswers()">{{visibleAnswers.length}} answers</button>
    <button  class="btn btn-link">{{question.likes}} likes</button>
  </div>
  <textarea class="week-answer" placeholder="Speak your mind"[(ngModel)]="newAnswer.text" (focus)="showAdditionalQuestion()"></textarea>
  <AdditionalQuestion (additionalTextChanged)="updateExtraText($event)" *ngIf="showingAdditionalQuestion"></AdditionalQuestion>
  <div class="week-container-btn">
    <button type="button" class="buttons btn week-post-question-button" (click)="post()">POST</button>
    <button type="button" class="buttons btn week-cancel-question-button" (click)="cancel()">CANCEL</button>
  </div>
</div>
<div id="answerScroll{{question.id}}">
  <div *ngIf="showingAnswers" class="week-answers-container">
    <div class="row week-close-answers-section">
      <a pageScroll href="#prueba" (click)="hideAnswers()"><ng4-fa name="times"></ng4-fa></a>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="week-total-answers">{{visibleAnswers.length}} Answers</span>
      </div>
    </div>
    <Answer *ngFor="let answer of visibleAnswers" [answer]="answer"></Answer>
  </div>
</div>
