<div class="container-fluid question-container">
  <div class="row category" *ngIf="question.category">
      <p>{{ question.category.name }}</p>
  </div>
  <h4 class="question">{{ question.text }}</h4>
  <p class="author">Submitted by: {{ question.author || 'Life asks'}}</p>
  <div class="count-container">
    <button pageScroll [pageScrollOffset]="340" [pageScrollDuration]="1000" href="#answerScroll{{question.id}}" class="btn btn-link" (click)="showAnswers()">{{visibleAnswers.length}} answers</button>
    <button class="btn btn-link">{{question.likes}} likes</button>
  </div>
  <textarea class="answer" placeholder="Speak your mind" [(ngModel)]="newAnswer.text" (focus)="showAdditionalQuestion()"></textarea>
  <AdditionalQuestion (additionalTextChanged)="updateExtraText($event)" *ngIf="showingAdditionalQuestion"></AdditionalQuestion>
  <div class="container-btn">
    <button type="button" class="buttons btn post-question-button" (click)="post()">POST</button>
    <button type="button" class="buttons btn cancel-question-button" (click)="cancel()">CANCEL</button>
  </div>
</div>
<div id="answerScroll{{question.id}}">
  <div *ngIf="showingAnswers" class="container-fluid answers-container">
    <div class="row close-answers-section">
      <span (click)="hideAnswers()"><ng4-fa name="times"></ng4-fa></span>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="total-answers">{{visibleAnswers.length}} Answers</span>
      </div>
    </div>
    <Answer *ngFor="let answer of visibleAnswers" [answer]="answer"></Answer>
  </div>
</div>
