@import '../../../../scss/_variables';

.question-container {
  padding: 20px 30px;
  background-color: $life-asks-white-1;
  border-bottom: 1px solid lightgrey;

  .category {
    display: flex;
    justify-content: flex-end;
    p {
      background: $life-asks-light-blue-1;
      color: $life-asks-white-1;
      min-width: 100px;
      height: 30px;
      padding: 3px 10px;
      text-align: center;
      border-radius: 4px;
      align-self: center;
    }
  }

  .question {
    color: $life-asks-black-1
  }

  .author {
    color: $life-asks-grey-2;
  }

  .answer {
    width: 100%;
    background: $life-asks-white-1;
    color: $life-asks-black-1;
    border-color: $life-asks-grey-2;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .count-container {
    display: inline-flex;
    font-weight: bold;
    text-decoration: underline;

    .btn-link {
      color: black;
      padding: 0 15px 10px 0;
    }
  }

  .container-btn {
    display: inline;

    .buttons {
      min-width: 100px;
      height: 40px;
      margin-bottom: 25px;
      margin-top: 10px;
      border-radius: 3px;
      font-weight: bolder;
    }

    .post-question-button {
      background: $life-asks-light-blue-1;
      color: $life-asks-white-1;
    }

    .cancel-question-button {
      background: $life-asks-white-1;
      border-color: $life-asks-light-blue-1;
      color: $life-asks-light-blue-1;
    }
  }
}

Question {
  .answers-container {
    background-color: $life-asks-grey-3;
    padding: 30px;
    padding-bottom: 10px;

    .total-answers {
      font-size: x-large;
    }

    .close-answers-section {
      display: flex;
      justify-content: flex-end;


      span {
        color: $life-asks-white-1;
        border-radius: 0.8em;
        padding: 0 6px;
        background-color: $life-asks-light-blue-1;
      }
    }

    .load-more-answers {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;

      .load-more-answers-btn {
        background-color: $life-asks-grey-3;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  }
}
