<Navbar></Navbar>
<div class='embed-container'><iframe src='https://www.youtube.com/embed/c4_FLfx_I0c?rel=0' frameborder='0' allowfullscreen></iframe></div>
<div *ngIf="featuredQuestions.length" class="titles-feature-question">
  <h2 class="title-1 justify-content-center">TAKE THE CHALLENGE</h2>
  <h6 class="title-2 justify-content-center">QUESTION<span *ngIf="featuredQuestions.length > 1">S</span>&nbsp;OF THE WEEK</h6>
</div>
<FeaturedQuestion
  *ngFor="let featuredQuestion of featuredQuestions"
  [question]="featuredQuestion">
</FeaturedQuestion>

<div class="category-filter" *ngIf="categories.length">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ selectedCategory?.name || 'ALL CATEGORIES' }}
    </button>
    <div class="dropdown-menu">
      <button pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#DropdownScroll" class="dropdown-item" *ngFor="let category of categories" (click)="filterByCategory(category)">
        <span><ng4-fa name="question-circle-o"></ng4-fa></span>{{ category.name }}
      </button>
      <button pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#DropdownScroll" class="dropdown-item" (click)="filterByCategory()">
        <span><ng4-fa name="question-circle-o"></ng4-fa></span>All Categories
      </button>
    </div>
  </div>
</div>

<div id="DropdownScroll">
  <Question
    *ngFor="let question of questions"
    [question]="question">
  </Question>
  <div class="no-questions-label" *ngIf="!questions.length">
    <p>No questions to show.</p>
  </div>
</div>
