@import '../scss/_variables';

app-root {
  background-color: black;

  .embed-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .titles-feature-question {
    margin-top: -5px;
    width: 100%;
    background-color: $life-asks-pink-1;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-direction: column;

    .title-1 {
      display: flex;
      justify-content: space-around;
      color:  $life-asks-black-1;
      font-weight: 800;
      font-size: xx-large;
      padding-bottom: 20px;
    }

    .title-2 {
      display: flex;
      color:  $life-asks-white-1;
      font-weight: bold;
      font-size: x-large;
      padding-bottom: 20px;
    }
  }

  .category-filter {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    .dropdown-toggle {
      font-size: larger;
      font-weight: 900;
      background-color: transparent;
    }
    .dropdown-menu {
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
      transform: translate3d(-15px, 38px, 0px);
      padding: 15px;
    }
    .dropdown-item {
      padding-left: 5px;
      &:not(:last-child) {
        border-bottom: 0.5px solid lightgrey;
      }
    }
  }

  .no-questions-label {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}
