@import '../../../../scss/_variables';

ngb-modal-window {
  .modal-dialog, .modal-content, menu {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0 !important;
  }
}

menu {

  .navbar {
    padding: 10px 16px;
    .navbar-toggler {
      align-self: flex-end;
      border: none;
    }
    .close {
      font-size: xx-large;
    }
  }
  .menu-links {
    padding-top: 100px;
    .navbar-logo-text {
      height: 25px;
      width: 130px;
    }
    .btn-menu-link {
      font-family: 'Montserrat', sans-serif;
      width: 335px;
      height: 55px;
      color: white;
      background-color: $life-asks-light-blue-1;
      font-size: xx-large;
    }
    .links {
      padding-top: 40px;
      .row {
        padding-bottom: 25px;
      }
    }
  }
    .modal-footer {
      margin-top: 100px;
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      height: 45px;
      background: $life-asks-black-1;

      a {
        background: $life-asks-black-1;
        color: $life-asks-white-1;
      }
    }
  }
