<nav class="navbar navbar-light bg-faded">
  <div></div>
  <button class="navbar-toggler" type="button" (click)="close()" aria-label="Close menu">
    <span><ng4-fa name="times"></ng4-fa></span>
  </button>
</nav>

<div class="container menu-links">
  <div class="row justify-content-around logo">
    <img class="navbar-logo-text" src="../../../../assets/img/life-asks-text-logo.png" alt="Life Asks Home">
  </div>
  <div class="links">
      <div class="row justify-content-around">
        <button type="button" class="btn btn-menu-link">Speak</button>
      </div>
      <div class="row justify-content-around">
        <button type="button" class="btn btn-menu-link">Watch</button>
      </div>
      <div class="row justify-content-around">
        <button type="button" class="btn btn-menu-link">Answer</button>
      </div>
      <div class="row justify-content-around">
        <button type="button" class="btn btn-menu-link">Together</button>
      </div>
  </div>
</div>

<div class="modal-footer">
  <a href="#">About</a>
  <a href="#">Advertise</a>
  <a href="#">Terms</a>
  <a href="#">Privacy</a>
  <a href="#">Contact</a>
</div>
