@import '../../../../scss/_variables';

$avatar-size: 25px;
$answer-body-width: 95%;
$iphone-body-with: 90%;

Answer {
  .answer-container {
    margin-top: 30px;
    .avatar-col {
      width: 100%  - $answer-body-width;
      @media (max-width: 544px) {
        width: 100%  - $iphone-body-with;
      }
      height: 100%;
      img {
        width: $avatar-size;
        height: $avatar-size;
      }
    }
    .answer-body {
      width: $answer-body-width;
      @media (max-width: 544px) {
        width: $iphone-body-with;
      }
      height: 100%;
      padding-left: 15px;

      .answer-header {
        p {
          font-weight: bold;
        }
      }

      .like-btn:hover {
        cursor: pointer;
      }
    }
  }
}
