<div class="container-fluid answer-container d-flex">
  <div class="row w-100">
    <div class="avatar-col">
      <img class="rounded-circle" [src]="answer.author?.avatar_url || '../../../../assets/img/avatar_default.png'" alt="answer">
    </div>
    <div class="answer-body p-1">
        <div class="answer-header d-flex w-100 justify-content-between">
          <p class="h6">{{ answer.author?.name || 'Anonymous' }} {{ answer.author?.last_name }}</p>
          <p class="h6 submission-date">{{ answer.created_at | date: 'dd MMMM yyyy' }}</p>
        </div>
        <div class="w-100">
          <p>
            {{ answer.text }}
          </p>
          <p>
            {{ answer.extra_text }}
          </p>
        </div>
        <div class="w-100">
          <span class="like-btn" *ngIf="!liked" (click)="like()"><ng4-fa name="heart-o"></ng4-fa></span>
          <span *ngIf="liked"><ng4-fa name="heart"></ng4-fa></span>
          <span>{{ answer.likes }}</span>
          likes
        </div>
    </div>
  </div>
</div>
