@import "scss/_variables";
@import "scss/_custom";
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

@font-face {
  font-family: "Monserrat";
  src: url("https://fonts.googleapis.com/css?family=Montserrat") format("truetype");
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

  button {
    cursor: pointer;
    box-shadow: none !important;
  }

  textarea {
    padding: 10px;
    &:focus {
      outline: none;
    }
  }
}
